@import url("https://fonts.googleapis.com/css?family=Montserrat:400,800");
body {
  overflow: hidden;
}
* {
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
  background: #1c1b55;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: -20px 0 50px;
  margin-top: 20px;
}

.btn {
  background-color: #1c1b55;
  box-shadow: 1px 1px 10px #b28b7e;
  border-radius: 10px;
  color: #b28b7e;
  margin-left: 10px;
}
.btn:hover {
  color: white;
}
.button {
  display: flex;
}
h1 {
  font-weight: bold;
  margin: 0;
  color: #b28b7e;
}

p {
  font-size: 14px;
  font-weight: 100;
  line-height: 20px;
  letter-spacing: 0.5px;
  margin: 20px 0 30px;
  color: white;
}

span {
  font-size: 12px;
  color: white;
}

a {
  color: white;
  font-size: 14px;
  text-decoration: none;
  margin: 15px 0;
}
a:hover {
  color: #b28b7e;
}

.container {
  background: #1c1b55;
  border-radius: 10px;
  box-shadow: 1px 1px 10px #b28b7e;
  position: relative;
  overflow: hidden;
  /* width: 768px; */
  max-width: 100%;
  min-height: 480px;
}

.form-container form {
  background: #1c1b55;
  display: flex;
  flex-direction: column;
  padding: 0 21px;
  height: 100%;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.social-container {
  margin: 20px 0;
  width: 500px;
}

.social-container a {
  border-radius: 50%;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin: 0 5px;
  height: 40px;
  width: 40px;
  color: white;
}

.form-container input {
  background: #eee;
  border: none;
  padding: 12px 15px;
  margin: 8px 0;
  width: 100%;
}

button {
  border-radius: 20px;
  border: 1px solid white;
  /* background: #ff445c; */
  background-color: #000000bd;
  color: #fff;
  font-size: 12px;
  font-weight: bold;
  padding: 12px 45px;
  letter-spacing: 1px;
  text-transform: uppercase;
  transition: transform 80ms ease-in;
}

button:active {
  transform: scale(0.95);
}

button:focus {
  outline: none;
}

button.ghost {
  background: transparent;
  border-color: #fff;
}

.form-container {
  position: absolute;
  top: 0;
  height: 100%;
  transition: all 0.6s ease-in-out;
}

.sign-in-container {
  left: 0;
  width: 50%;
  z-index: 2;
}

.sign-up-container {
  left: 0;
  width: 50%;
  z-index: 1;
  opacity: 0;
}

.overlay-container {
  position: absolute;
  top: 0;
  left: 50%;
  width: 50%;
  height: 100%;
  overflow: hidden;
  transition: transform 0.6s ease-in-out;
  z-index: 100;
}

.overlay {
  /* background: #ff416c;
    background: linear-gradient(to right, #ff4b2b, #ff416c) no-repeat 0 0 / cover; */
  background-color: #16153473;
  color: #fff;
  position: relative;
  left: -100%;
  height: 100%;
  width: 200%;
  transform: translateY(0);
  transition: transform 0.6s ease-in-out;
}

.overlay-panel {
  position: absolute;
  top: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 40px;
  height: 100%;
  width: 50%;
  text-align: center;
  transform: translateY(0);
  transition: transform 0.6s ease-in-out;
}

.overlay-right {
  right: 0;
  transform: translateY(0);
  box-shadow: 1px 5px 100px #b28b7e;
}

.overlay-left {
  transform: translateY(-20%);
  box-shadow: 1px 5px 100px #b28b7e;
}

/* Move signin to right */
.container.right-panel-active .sign-in-container {
  transform: translateY(100%);
}

/* Move overlay to left */
.container.right-panel-active .overlay-container {
  transform: translateX(-100%);
}

/* Bring signup over signin */
.container.right-panel-active .sign-up-container {
  transform: translateX(100%);
  opacity: 1;
  z-index: 5;
}

/* Move overlay back to right */
.container.right-panel-active .overlay {
  transform: translateX(50%);
}

/* Bring back the text to center */
.container.right-panel-active .overlay-left {
  transform: translateY(0);
}

/* Same effect for right */
.container.right-panel-active .overlay-right {
  transform: translateY(20%);
}

.footer {
  margin-top: 25px;
  text-align: center;
}

.icons {
  display: flex;
  width: 30px;
  height: 30px;
  letter-spacing: 15px;
  align-items: center;
}

span.loginwith {
  display: block;
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}
span.loginwith::before {
  content: "";
  display: inline-block;
  width: 42%;
  height: 1px;
  background: #aaa;
  vertical-align: middle;
  margin-right: 5%;
}
span.loginwith::after {
  content: "";
  display: inline-block;
  width: 45%;
  height: 1px;
  background: #aaa;
  vertical-align: middle;
  margin-left: 5%;
}

span.remember::before {
  content: "";
  display: inline-block;
  width: 1em;
  height: 1em;
  border: 2px solid #999;
  vertical-align: top;
  margin-right: 4px;
}
.i-accept {
  width: 18% !important;
}

.input-group {
  position: relative;
  width: 320px;
  margin: 11px 0;
}

.input-group label {
  position: absolute;
  top: 47%;
  left: 5px;
  transform: translateY(-50%);
  font-size: 13px;
  color: white;
  padding: 0 5px;
  pointer-events: none;
  transition: 0.5s;
}

.input-group input {
  width: 100%;
  height: 40px;
  font-size: 16px;
  color: white;
  padding: 0 10px;
  background: transparent;
  border: 1px solid white;
  outline: none;
  border-radius: 5px;
}

.input-group input:focus ~ label,
.input-group input:valid ~ label {
  top: 0;
  font-size: 12px;
  color: #fff;
}
.container {
  width: 70%; /* Jitna bhi percent aap chahte hain */
  margin: auto; /* Center align karne ke liye */
}

.form-container {
  width: 50%; /* Yeh ensure karta hai ki woh parent div ka full width le */
  padding: 20px; /* Thoda padding for better appearance */
}

::placeholder {
  color: white;
}

.sign-in {
  display: none;
}
.Sign-up {
  display: none;
}

@media (max-width: 991px) {
  .input-group {
    width: 100%;
  }
  .sign-up-container .input-group {
    width: 256px;
  }
}

@media (max-width: 767px) {
  .container {
    width: 100%;
  }
  .sign-in-container {
    width: 143%;
  }
  .overlay {
    display: none;
  }

  .sign-up-container {
    width: 100%;
  }
  .input-group {
    width: 256px;
  }
  .sign-up-container .input-group {
    width: 1005;
  }

  .sign-in {
    display: block;
  }
  .Sign-up {
    display: block;
  }
  .overlay-container {
    left: 0;
    width: 0;
  }
}

.form-container.show {
  opacity: 1;
  display: block;
}

@media (max-width: 320px) {
  .input-group {
    width: 100%;
  }
}



/* ooooooooooooooooooooooo */


.popup {
  display: none;
  position: fixed;
  top: 15%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #1c1b55;
  /* border: 2px solid #4682b4; */
  border-radius: 10px;
  padding: 20px;
  z-index: 9999;
  box-shadow: 1px 3px 50px #b28b7e;
}

.popup-content {
  text-align: center;
}

.close-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  font-size: 24px;
  color: #4682b4;
}
.popup-content p{
  color: white;
  font-size: 14px;
}
.close-btn:hover {
  color: #4169e1;
}

.popup.show {
  display: block;
  animation: fadeIn 0.3s ease-in-out;
}

@keyframes fadeIn {
  0% {
      opacity: 0;
  }
  100% {
      opacity: 1;
  }
}
